@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
#banner{
    display: flex;
    background-color: #C6E4D6;
    height: 560px;
    width: 1280px;
    border-radius: 28px;
}
#banner .text{
    height: 328px;
    width: 622px;
    margin-top: 140px;
    margin-left: 60px;
}
#banner .subtitle{
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-size: medium;
    opacity: .6;
    margin-bottom: 10px;
}
#banner .title{
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 10px;
}
.btn{
    background-color: #006A50;
    color: #FFFFFF;
    border: none;
    height: 50px;
    width: 260px;
    border-radius: 8px;
    cursor: pointer;
}
.btn:hover{
    background-color: red;
   
}
#banner .img{
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 64px;
    margin-right: 60px;
}