@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    /* background-color: #F1F1F3; */
}
body{
       background-color: #F1F1F3; 
}
#banner{
    display: flex;
    background-color: #C6E4D6;
    height: 560px;
    width: 1280px;
    border-radius: 28px;
}
#banner .text{
    height: 328px;
    width: 622px;
    margin-top: 140px;
    margin-left: 60px;

}
#banner .subtitle{
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-size: medium;
    opacity: .6;
    margin-bottom: 10px;
}
#banner .title{
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 10px;
}
.btn{
    background-color: #006A50;
    color: #FFFFFF;
    border: none;
    height: 50px;
    width: 250px;
    border-radius: 8px;
    cursor: pointer;
    font-family: "Fira Sans", serif;
}
.btn:hover{
    background-color: red;
   
}
#banner .img{
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 64px;
    margin-right: 60px;
}
.box-container{
    display: flex;
    margin-top: 30px;
    gap: 10px;
}
.text-VoF{
    margin-top: 20px;
    margin-bottom: 30px;
}
.box{
    width: 410px;
    height: 275px;
    border-radius: 16px;
    text-align: start;
    padding-left: 32px;
    padding-top: 24px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-family: "Fira Sans", serif;
    
    }
.box-1{
    background-color:rgba(84, 144, 245, 0.2);
   

    }
.btn-1{
    background-color: #5490F5;
    width: 100px;
    height: 40px;
}    
.box-2{
    background-color: #C6E4D6;
}
.btn-2{
    background-color: #09A15C;
    width: 100px;
    height: 40px;
}  
.box-3{
    background-color: #F7EBCF;
}
.btn-3{
    background-color: #FFC239;
    width: 100px;
    height: 40px;
}
.subtitle1{
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-size: 16px;
    opacity: .6;
    margin-bottom: 10px;
    margin-top: 10px;
}
.quote{
    margin-top: 40px;
    background-color: #FFFFFF;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgb(0, 0, 0,0.1);
    padding: 20px 30px;

}
.quotebg{
    width: 50px;
    height: 45px;
    position: absolute;
    top: 1035px;
    left: 40px;
    opacity: 0.7;
}
.quotes{
    font-size: 16px;
    font-family: "Fira Sans", serif;
    color: rgba(14, 14, 14, 0.8);
    padding: 10px;
}
.name{
    font-family: "Fira Sans", serif;
    padding: 10px;
    font-weight: bold;
    color: #333;
}
.dag{
    font-family: "Fira Sans", serif;
    font-size: 14px;
    font-weight: normal;
    color: #777;
    padding: 10px;
}