@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    /* background-color: #F1F1F3; */
}
body{
       background-color: #F1F1F3; 
}
.nav{
    display: flex;
    justify-content: space-between;
    /* background-color: #F5F5F5; */
    margin-bottom: 71px;
    margin-top: 20px;
}
.nav-title{
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-size: 50px;
   padding-left: 20px;
}
.nav-btn{
    width: 116px;
    height: 52px;
    border-color: #006A50;
    color: #006A50;
    border-radius: 8px;
    cursor: pointer;
    

}
.nav-btn:hover{
    background-color: brown;

}
#banner{
    display: flex;
    background-color: #C6E4D6;
    height: 560px;
    width: 1280px;
    border-radius: 28px;
}
#banner .text{
    height: 328px;
    width: 622px;
    margin-top: 140px;
    margin-left: 60px;

}
#banner .subtitle{
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-size: medium;
    opacity: .6;
    margin-bottom: 10px;
}
#banner .title{
    font-family: "Fira Sans", serif;

    font-weight: 700;
    font-size: 50px;
    margin-bottom: 10px;
}
.btn{
    background-color: #006A50;
    color: #FFFFFF;
    border: none;
    height: 50px;
    width: 250px;
    border-radius: 8px;
    cursor: pointer;
    font-family: "Fira Sans", serif;
}
.btn:hover{
    background-color: red;
   
}
#banner .img{
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 64px;
    margin-right: 60px;
}
.box-container{
    display: flex;
    margin-top: 30px;
    gap: 10px;
}
.text-VoF{
    margin-top: 20px;
    margin-bottom: 30px;
}
.titleoF{
    font-family: "Fira Sans", serif;
    font-weight: bold;
    font-size: 40px;
}

.box{
    width: 410px;
    height: 275px;
    border-radius: 16px;
    text-align: start;
    padding-left: 32px;
    padding-top: 24px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-family: "Fira Sans", serif;
    
    }
.box-1{
    background-color:rgba(84, 144, 245, 0.2);
   

    }
.btn-1{
    background-color: #5490F5;
    width: 100px;
    height: 40px;
}    
.box-2{
    background-color: #C6E4D6;
}
.btn-2{
    background-color: #09A15C;
    width: 100px;
    height: 40px;
}  
.box-3{
    background-color: #F7EBCF;
}
.btn-3{
    background-color: #FFC239;
    width: 100px;
    height: 40px;
}
#pillar{
    margin-top: 40px;
}
.titleop{
    font-family: "Fira Sans", serif;
    font-weight: bold;
    font-size: 40px;
}
.pbox{
    display: flex;
   justify-content: space-between;
   margin-top: 40px;
}
.pbox-1{
    width: 302px;
    height: 244px;
    background-color: #FFFFFF;
    border-radius: 16px;

}
.pboximg{
    padding: 10px;

}
.pboxtitle{
    padding: 10px;
    font-family: "Fira Sans", serif;
    font-weight: bold;
    font-size: 20px;
    color: rgba(14, 14, 14, 0.8);
}
.pboxsubtitle{
    padding: 10px;
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}

.subtitle1{
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-size: 16px;
    opacity: .6;
    margin-bottom: 10px;
    margin-top: 10px;
}
.quote{
    margin-top: 40px;
    background-color: #FFFFFF;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgb(0, 0, 0,0.1);
    padding: 20px 30px;

}
.quotebg{
    width: 50px;
    height: 45px;
    position: absolute;
    top: 1580px;
    left: 40px;
    opacity: 0.7;
}
.quotes{
    font-size: 16px;
    font-family: "Fira Sans", serif;
    color: rgba(14, 14, 14, 0.8);
    padding: 10px;
}
.name{
    font-family: "Fira Sans", serif;
    padding: 10px;
    font-weight: bold;
    color: #333;
}
.dag{
    font-family: "Fira Sans", serif;
    font-size: 14px;
    font-weight: normal;
    color: #777;
    padding: 10px;
}
#news-section{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.rnews{
    font-family: "Fira Sans", serif;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 24px;

}
.rnews-des{
    font-family: "Fira Sans", serif;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 24px;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 32px;
}
.news{
    width: 1270px;
    height: 402px;
    display: flex;
    background-color: #FFFFFF;
    border-radius: 24px;
    box-shadow: 0 4px 6px rgb(0, 0, 0,0.1);
}
.simg{
    height:308px ;
    width: 406px;
    border-radius: 24px;
    margin-top: 48px;
    margin-bottom: 48px;
    margin-left: 48px;
    margin-right: 32px;
}
.news-sub{

    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.news-title{
    font-family: "Fira Sans", serif;
    font-size: 32px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
}
.news-paper-logo{
    width: 134px;
    height: 40px;
}
.date-time{
    font-family: "Fira Sans", serif;
    font-size: 16px;
    font-weight: 300;
    display: flex;
    gap: 24px;
}
.news-description{
    font-family: "Fira Sans", serif;
    font-size: 16px;
    font-weight: 300;
    display: flex;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
}
.btn-news{
    font-family: "Fira Sans", serif;
    font-size: 16px;
    font-weight: 300;
    width: 140px;
    height: 48px;

}
.news-01{
    display: flex;
    flex-direction: row-reverse;
    padding-left: 40px;
    width: 1270px;
}
.simg01{
    margin-left: 20px;
    
}
#donate-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 40px;

}
.donate-title{
    font-family: "Fira Sans", serif;
    font-size: 40px;
    font-weight: bold;
}
.donate-des{
    font-family: "Fira Sans", serif;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}
.btn-box{
    width: 1071px;
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
  
}
.btn01{
    width: 270px;
    height: 100%;
    border-radius: 16px;
    border-style: none;
    background-color: #ffffff;
    cursor: pointer;
}

.btn01:hover{
    background-color:rgba(198, 228, 214, 1);
}
.tk2{
    background-color:rgba(198, 228, 214, 1);
}
.tk2:hover{
    background-color: lightcoral;
}
.input1{
    width: 1032px;
   height: 64px;
   text-align: center;
   border-style: none;
  
}
#newsletter{
    width: 1280px;
    height: 395px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    background-color: #C6E4D6;
    border-radius: 24px;
}
.overlap-input{
    display: flex;
    gap: 0px;
   border-collapse: collapse;
}
.inemail{
    border-style: none;
}
.btn-nl{
    background-color: #006A50;
    border-style: none;
    font-family: "Fira Sans", serif;
    font-size: 16px;
    font-weight: 300;
    color: #FFFFFF;
    width: 150px;
    height: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    
}
.btn-nl:hover{
    background-color: red;
}
.inemail{
    width: 600px;
    height: 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 10px;
    font-family: "Fira Sans", serif;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 16px;
    color: rgba(14, 14, 14, 0.3);
}
.nl-title{
    font-family: "Fira Sans", serif;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 16px;
}
.nl-des{
    width: 622px;
    height: 48px;
    font-family: "Fira Sans", serif;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 16px;
   text-align: center;

}
.last{
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 16px;
    color: rgba(14, 14, 14, 0.3);
}
#foot{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
}